body {
  background-color: #f2f4f7;
  /* font-size: 30px; */
}
/* .css-c7dl83-MuiInputBase-root {
    border: 1px solid #dddfe2;
    border-radius: 4px;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
    width: 100%;
    font-size: 17px;
    padding: 3px 8px;
  } */

.login-input::placeholder {
    color: #b4b6bc;
}
.login-input:focus {
  border: solid 1px #0866ff !important;
  border-width: 0.3px;
  box-shadow: 0 0 0 2px #e7f3ff;
  caret-color: #0866ff;
  outline: none;
}
